body {
  margin: 0;
  padding: 0;
  background-color: #366cbd;
  color: rgb(36, 24, 24);
  font-family: Arial, sans-serif;
  position: relative;
}

.header {
  background-color: #0a295b;
  color: #ffffff;
  font-family: impact;
  font-size: 35px;
  line-height: 0.1;
  padding-left: 35px;
  position: absolute;
  width: calc(99% - 20px);
  left: 0%;
  top: 1%;
}

.menu {
  position: absolute;
  top: 20%;
  bottom: 10%;
  width: 200px;
  padding: 10px;
  background-color: #fafafa;
  left: 10px;
}

.content {
  position: absolute;
  top: 20%;
  bottom: 10%;
  width: 71%;
  padding: 10px;
  background-color: #fafafa;
  left: 220px;
  right: 100px;
  margin-left: 20px;
}

.footer {
  background-color: #0a295b;
  color: #ffffff;
  font-family: verdana;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  width: calc(99% - 20px);
  left: 0%;
  right: 0%;
  top: 95%;
  bottom: 1%;
}

.Titles {
  color: #0a295b;
  font-family: verdana;
  font-size: 19px;
}

.links {
  list-style-type: none;
  text-align: left;
}

.img1 {
  position: absolute;
  height: 180px;
  right: 3%;
  bottom: 96%;
}
